<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Movies</h1>
    <%= link_to "New movie", new_movie_path, class: "btn btn-primary custom-button" %>
  </div>
  
  <div id="movies">
    <div class="row">
      <% @movies.each do |movie| %>
        <%= render movie, show_links: true %> <!-- SHOW LINKS TRUE PA K SE VEAN -->
      <% end %>
    </div>
  </div>
</div>
