<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container custom-container">
    <%= link_to image_tag("logo.png", alt: "BlockBuster Logo", class: "navbar-brand custom-logo"), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Clients', clients_path, class: 'nav-link custom-text' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Movies', movies_path, class: 'nav-link custom-text' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
